body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}

li{
    list-style: none;
}

.sp-only{
    display: none;
}

@media screen and (max-width: 767px){
    .sp-only{
        display: block;
    }
}

.pc-only{
    display: inline;
}

@media screen and (max-width: 767px){
    .pc-only{
        display: none;
    }
}

.initialBox{
  width: 30%;
  border: solid 3px #000;
  position: relative;
  top: 300px;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.initialBox div{
  padding-bottom: 15px;
}

.initialbox input{
  width: 80%;
}

@media (max-width: 959px) {
  .initialBox{
    width: 75%;
  }
}


/* トップページの記事スタイル */
.postArea{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: space-around;
    list-style: none;
    padding: 0;
}

.postItem{
    width: 450px;
    border: solid 1px #000;
    margin-bottom: 20px;
}
@media screen and (max-width: 767px){
    .postItem{
        width: 100%;
    }
}

.postItem__user{
    padding-left: 20px;
    border-bottom: solid 1px #000;
}

.postItem__textbox{
    padding-left: 20px;
    white-space: pre-wrap;
}

/* 記事投稿ページのスタイル */
.postForm__text{
    width: 70%;
    height: 200px;
}

.postTop{
    text-align: right;
}